<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>statek</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0.3</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 121.000,203.000 }</string>	
								<string>{ 108.000,185.000 }</string>	
								<string>{ 102.000,151.000 }</string>	
								<string>{ 141.000,152.000 }</string>	
								<string>{ 139.000,169.000 }</string>	
								<string>{ 131.000,193.000 }</string>
							</array>
							<array>	
								<string>{ 153.000,42.000 }</string>	
								<string>{ 155.000,50.000 }</string>	
								<string>{ 88.000,51.000 }</string>	
								<string>{ 97.000,40.000 }</string>	
								<string>{ 146.000,41.000 }</string>
							</array>
							<array>	
								<string>{ 90.000,43.000 }</string>	
								<string>{ 97.000,40.000 }</string>	
								<string>{ 88.000,51.000 }</string>
							</array>
							<array>	
								<string>{ 144.000,27.000 }</string>	
								<string>{ 146.000,41.000 }</string>	
								<string>{ 97.000,40.000 }</string>	
								<string>{ 121.000,21.000 }</string>	
								<string>{ 129.000,18.000 }</string>
							</array>
							<array>	
								<string>{ 99.000,26.000 }</string>	
								<string>{ 114.000,17.000 }</string>	
								<string>{ 121.000,21.000 }</string>	
								<string>{ 97.000,40.000 }</string>
							</array>
							<array>	
								<string>{ 141.000,152.000 }</string>	
								<string>{ 102.000,151.000 }</string>	
								<string>{ 64.000,82.000 }</string>	
								<string>{ 72.000,52.000 }</string>	
								<string>{ 79.000,53.000 }</string>	
								<string>{ 179.000,79.000 }</string>
							</array>
							<array>	
								<string>{ 172.000,52.000 }</string>	
								<string>{ 179.000,79.000 }</string>	
								<string>{ 164.000,54.000 }</string>
							</array>
							<array>	
								<string>{ 164.000,54.000 }</string>	
								<string>{ 179.000,79.000 }</string>	
								<string>{ 79.000,53.000 }</string>	
								<string>{ 88.000,51.000 }</string>	
								<string>{ 155.000,50.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

